.header_app {
  margin-top: 1rem !important;
}

.header_app_v {
  margin-top: 0.88rem;
}

.main-body {
  margin-top: 0.88rem !important;
}

.main-body_userInfo {
  margin-bottom: 0.8rem;
  background: #F6F6F6;
}

/*报表管理中head定位*/
.p_fixed {
  position: fixed;
  top: 0.88rem;
  z-index: -1;
}

.weui-dialog {
  overflow: visible !important;
}
